# Build output
build/
out/
*.obj
*.exe
*.o
*.a
*.lib
*.pdb
*.ilk

# Visual Studio
.vs/
*.vcxproj.user
CMakeSettings.json

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
